
    <th:block th:replace="commonPages/header :: header"></th:block>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <div id="wrap">
        <a href="javascript:openModal('modal1');" class="button modal-open">로그인</a>
    </div>

    <div id="modal"></div>
    <div class="modal-con modal1">
        <a href="javascript:;" class="close">X</a>

        <p class="title">BJy movie</p>
        <h2 class="title">문의사항작성 </h2>
        <div class="body">
        </div>
        <div class="form-login">
            <div class="input-textlogin width-max">
                <input type="text" placeholder="아이디" id="username" name="username">
            </div>
            <div class="form-password">
                <div class="input-textpassword width-max">
                    <input type="text" placeholder="비밀번호" id="userpassword" name="userpassword">
                </div>
            </div>
        </div>
        <button class="button1" type="submit">
            "로그인"
        </button>

        <div class="inp_chk"> <!-- 체크시 checked 추가 -->
            <input type="checkbox" id="keepLogin" class="inp_radio"  name="keepLogin">
            <label for="keepLogin" class="lab_g">
                <span class="img_top ico_check"></span>
                <span class="txt_lab">로그인 상태 유지</span>
            </label>
            <span class="txt_find">
                      <span class="txt_find">
                        <a href="" class="link_find">아이디</a>
                         /
                        <a href="" class="link_find">비밀번호 찾기</a>
                      </span>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function openModal(modalname){
            document.get
            $("#modal").fadeIn(300);
            $("."+modalname).fadeIn(300);
            document.body.style.overflow="hidden";


        }

        $("#modal, .close").on('click',function(){
            $("#modal").fadeOut(300);
            $(".modal-con").fadeOut(300);
            document.body.style.overflow="unset";
        });




    </script>