<th:block th:replace="commonPages/header :: header"></th:block>
<link rel="stylesheet" th:href="@{/css/index.css}">

<div id="wrap">
    <!--        <a href="javascript:openModal('modal1');" class="button modal-open">1:1 문의하기</a>-->
    <button type="button" onclick="javascript:openModal('modal1');" class="button modal-open" style=height:100px;with:100px;margin-top:100px;margin-left:100px>1:1 문의하기</button>
</div>

<div id="modal"></div>
<div class="modal-con modal1">
    <a href="javascript:;" class="close">X</a>

    <p class="title">BJy movie</p>
    <h2 class="title">문의사항작성 </h2>
    <div class="body">
        <form action="/question/save" method="post">
            <div class="form-login">
                <div class="input-textlogin width-max">
                    <h5>제목:</h5><input type="text" placeholder="제목을입력해주세요" id="username" name="questionTitle" required>
                </div>
                <h5>내용</h5><br>
                <textarea class="form-control" id="exampleTextarea" name="questionContents" rows="3"
                           style=height:350px;width:295px required></textarea>
            </div>
            <br>
            <div>
                <button class="button1" type="submit" onclick="save()">
                    등록
                </button>
            </div>
    </div>
</div>

</form>

</div>
</div>
</div>
</div>
</div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function openModal(modalname) {
        document.get
        $("#modal").fadeIn(300);
        $("." + modalname).fadeIn(300);
        document.body.style.overflow = "hidden";


    }

    $("#modal, .close").on('click', function () {
        $("#modal").fadeOut(300);
        $(".modal-con").fadeOut(300);
        document.body.style.overflow = "unset";
    });
    function save(){
        alert("등록이완료되었습니다.");
    }


</script>