<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap2.css}">
    <th:block th:replace="commonPages/header :: header"></th:block>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <style>
        . title {


        }
    </style>
</head>
<body>
<div class="container">
    <div id="title " style="margin-top: 100px">
        <h1>1:1문의작성</h1>
    </div>

    <form action="/question/save" method="post">
        <div class="form-group">
            <label for="exampleInputEmail1" class="form-label mt-4">제목</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="questionTitle"
                   aria-describedby="eailHelp" placeholder="제목을 입력 해주세요" required>
            <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
            <label for="exampleTextarea" class="form-label mt-4">내용</label>
            <textarea class="form-control" id="exampleTextarea" name="questionContents" rows="3" required></textarea>
        </div>
        <input type="hidden" name="memberId" th:value="${session.id}">
        <br>
        <button type="submit" class="btn btn-secondary" th:onclick="save()">작성완료</button>
    </form>
</div>
</body>
<script th:inline="javascript">
    function save() {
        alert(" 문의등록이 완료되었습니다.");
    }
</script>
</html>