<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/bootstrap2.css">
</head>
<body>
<form>
    <div class="form-group">
        <form action="member/secession" method="post">
        <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            <input type="submit" value="회원탈퇴">
        </form>
    </div>
</form>

</body>
</html>