<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">

    <title>Website menu 04</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/header.css}">

    <h1>
        <div class="header">
            <div class="header_content">
                <div class="content">
                    <h1>
                        <image src="./bjy.png" alt="BJY"></image>
                        <span>movie</span>
                    </h1>
                    <td th:if="${session.loginId}">
                        <li>
                            <a href="/member/logout">
                                <img src="https://img.cgv.co.kr/R2014/images/common/ico/loginPassword.png"
                                     alt="로그아웃">
                                <span>로그아웃</span>
                            </a>
                        </li>
                    </td>
                    <td th:unless="${session.loginId}">
                        <li>
                            <a href="/member/login-form">
                                <img src="https://img.cgv.co.kr/R2014/images/common/ico/loginPassword.png"
                                     alt="로그인">
                                <span>로그인</span>
                            </a>
                        </li>
                        </a>
                        </li>

                        <li>
                            <a href="/member/Save-form">
                                <img src="https://img.cgv.co.kr/R2014/images/common/ico/loginJoin.png"
                                     alt="회원가입">
                                <span>회원가입</span>
                            </a>
                        </li>
                    </td>
                    <td th:if="${session.loginId}">
                        <li>
                            <a href="/member/myPage">
                                <img src="https://img.cgv.co.kr/R2014/images/common/ico/loginMember.png"
                                     alt="마이페이지">
                                <span>마이페이지</span>
                            </a>
                        </li>
                    </td>
                    <li>
                        <a href="">
                            <img src="https://img.cgv.co.kr/R2014/images/common/ico/loginCustomer.png" alt="고객센터">
                            <span>고객센터</span>
                        </a>
                    </li>
                    <td th:if="${session.loginId == 'admin' }">
                        <li>
                            <a href="/member/admin-form">
                                <img src="https://img.cgv.co.kr/R2014/images/common/ico/loginMember.png"
                                     alt="관리자페이지">
                                <span>관리자페이지</span>
                            </a>
                        </li>
                    </td>
                </div>
            </div>
        </div>
        <div id="menu">
            <ul>
                <li><a href="#">MENU1</a>
                    <ul>
                        <li><a href="#">SUB_MENU</a></li>
                        <li><a href="#">SUB_MENU2</a></li>
                        <li><a href="#">SUB_MENU3</a></li>
                    </ul>
                </li>
                <li><a href="#">MENU2</a>
                    <ul>
                        <li><a href="#">SUB_MENU</a></li>
                        <li><a href="#">SUB_MENU2</a></li>
                        <li><a href="#">SUB_MENU3</a></li>
                    </ul>
                </li>
                <li><a href="#">MENU3</a>
                    <ul>
                        <li><a href="#">SUB_MENU</a></li>
                        <li><a href="#">SUB_MENU2</a></li>
                        <li><a href="#">SUB_MENU3</a></li>
                    </ul>
                </li>
                <li><a href="#">MENU4</a>
                    <ul>
                        <li><a href="#">SUB_MENU</a></li>
                        <li><a href="#">SUB_MENU2</a></li>
                        <li><a href="#">SUB_MENU3</a></li>
                    </ul>
                </li>
                <li><a href="#">MENU5</a>
                    <ul>
                        <li><a href="#">SUB_MENU</a></li>
                        <li><a href="#">SUB_MENU2</a></li>
                        <li><a href="#">SUB_MENU3</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </h1>


</th:block>


</html>
