<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap2.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/modal.css}">

</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
</body>

<table class="table table-hover">
    <thead>
    <tr class="table-dark">
        <td>영화제목</td>
        <td>상영관</td>
        <td>영화시간</td>
        <td>영화개봉일</td>
        <td>영화마감일</td>
        <td>영화포스터</td>
        <td>영화예매하기</td>
    </tr>
    </thead>
    <tr th:each="result: ${resultList}">
        <td th:text="${result.movieName}"></td>
        <td th:text="${result.movieclass}"></td>
        <td th:text="${result.movieTime}"></td>
        <td th:text="${result.movieCreated}"></td>
        <td th:text="${result.movieClose}"></td>
        <td><img th:src="@{|/upload/${result.moviePosterName}|}" width="100" height="100" alt=""></td>
        <td><a th:onclick="save([[${result.id}]])">예매하기</a></td>
    </tr>
</table>
<script>
    const save = (id) =>{
        location.href = "/movie/ticket/" + id;
    }
</script>
</html>