<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap2.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/modal.css}">

</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
</body>

    <table class="table table-hover">
        <thead>
        <tr class="table-dark">
            <td>영화제목</td>
            <td>상영관</td>
            <td>영화개봉일</td>
            <td>영화마감일</td>
            <td>영화포스터</td>
            <td>영화예매하기</td>
        </tr>
        </thead>
        <tr th:each="result: ${result}">
        <td th:text="${result.movieName}"></td>
        <td th:text="${result.movieclass}"></td>
        <td th:text="${result.movieOpen}"></td>
        <td th:text="${result.movieClose}"></td>
        <td th:text="${result.moviePoster}"></td>
            <div id="wrap">
                <a href="javascript:openModal('modal1');" class="button modal-open" th:onclick="click([[${result.id}]])">
                    <span>예매하기</span>
                </a>
            </div>
        </td>
        </tr>

    </table>
    <div id="modal"></div>
    <div class="modal-con modal1">
        <a href="javascript:;" class="close">X</a>

        <p class="title">답변하기</p>
        <div class="body">
        </div>
        <form action="/answer/save" method="post">
            <div class="form-group"  >
                <label for="exampleTextarea" class="form-label mt-4"></label>
                <textarea class="form-control" id="exampleTextarea" name="answer" rows="3" style="height: 300px"></textarea>
            </div>
            <button class="button1" type="submit">
                답변하기
            </button>
        </form>
    </div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function openModal(modalname) {
        document.get
        $("#modal").fadeIn(300);
        $("." + modalname).fadeIn(300);
        document.body.style.overflow = "hidden";


    }

    $("#modal, .close").on('click', function () {
        $("#modal").fadeOut(300);
        $(".modal-con").fadeOut(300);
        document.body.style.overflow = "unset";
    });

    const index = () => {
        location.href = "/"


    }
    const click = (id) => {
        location.href = "/question/clickEvent/"+ id;
    }
</script>

</html>